{% extends 'mase/blank_dashboard.html' %}

{% load widget_tweaks %}

{% block content_title %}
Modifier mon mot de passe
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Modifier mot de passe</h3>
			</div>
			<div class="panel-body">
				<form role="form" class="form-horizontal" action="{% url 'change_password' %}" method="post">{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-2 control-label">Mot de passe actuel</label>
						<div class="col-sm-10">
							{% render_field form.old_password class="form-control" placeholder="Mot de passe actuel" %}
							<span>{{ form.old_password.errors }}</span>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Mot de passe actuel</label>
						<div class="col-sm-10">
							{% render_field form.new_password1 class="form-control" placeholder="Nouveau mot de passe" %}
							<span>{{ form.new_password1.errors }}</span>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Mot de passe actuel</label>
						<div class="col-sm-10">
							{% render_field form.new_password2 class="form-control" placeholder="Confirmer mot de passe" %}
							<span>{{ form.new_password2.errors }}</span>
						</div>
					</div>
                    <input type="submit" value="Enregistrer" class="form-control">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

