<!DOCTYPE html>
{% load static %}

{% load permission_tags %}
<html lang="fr"></html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MASE Sénégal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/stroke-7/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/jquery.nanoscroller/css/nanoscroller.css' %}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css"/>
    <style type="text/css">
        .btn-primary:hover {
            color: #fff;
            background-color: #1478C6;
            border-color: #1478C6;
        }
    </style>

    <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />


    {% block css_supp %} {% endblock %}
</head>
<body>
<div class="am-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="container-fluid">
            <div class="navbar-header">
                {% if user.is_superuser %}<div class="page-title"><span>Bienvenue Administrateur</span></div>
                {% else %} <div class="page-title"><span>Bienvenue {{ user.email }}</span></div>{% endif %}
                <a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><span
                        class="icon-bar"><span></span><span></span><span></span></span></a><a href="index.html" rand"></a>
            </div>
            <div id="am-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav am-user-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="dropdown-toggle"><img
                            src="{% static 'assets/img/fa-user-circle.png' %}"><span
                            class="user-name">MASE Sénégal</span><span class="angle-down s7-angle-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            {% if not user.is_superuser %}<li><a href="{% url 'mon_profil' %}"> <span class="icon s7-user"></span>Mon profil</a></li>{% endif %}
                            <li><a href="{% url 'change_password' %}"> <span class="icon s7-user"></span>Modifier mot de passe</a></li>
                            <li><a href="{% url 'deconnexion' %}"> <span class="icon s7-power"></span>Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav am-top-menu">
                    <li><a href="">Bienvenue Administrateur</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="am-left-sidebar">
        <div class="content">
            <div class="am-logo"></div>
            <ul class="sidebar-elements">
                {% if user.is_superuser %}
                <li class=""><a href="{% url 'liste_utilisateurs' %}"><i class="icon s7-monitor"></i><span>Utilisateurs</span></a>
                </li>
                {% endif %}
                <li class="parent"><a href="#"><i class="icon s7-user"></i><span>Organismes de formation</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'liste_organismes' %}">Liste des OF</a>
                        </li>
                        {% if user.is_superuser %}
                        <li><a href="{% url 'ajouter_organisme' %}">Ajouter un OF</a></li>
                        {% elif user|has_role:'of'%}
                        <li><a href="{% url 'mon_organisme' %}">Mon organisme de Formation</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="parent"><a href="#"><i class="icon s7-study"></i><span>Formations</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'liste_formations' %}">Liste des formations</a>
                        </li>
                        {% if user.is_superuser %}<li><a href="{% url 'ajouter_formation' %}">Ajouter une formatiion</a>{% endif %}
                        </li>
                    </ul>
                </li>
                <li class="parent"><a href="#"><i class="icon fa fa-id-badge"></i><span>Entreprises utilisatrices</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'liste_entreprises_util' %}">Liste des EU</a>
                        </li>
                        {% if user.is_superuser %}<li><a href="{% url 'ajouter_entreprise_util' %}">Ajouter une EU</a></li>
                        {% elif user|has_role:'eu' %}
                        <li><a href="{% url 'mon_eu' %}">Mon Entreprise Utilisatrice</a></li>
                        {% endif %}

                    </ul>
                </li>
                <li class="parent"><a href="#"><i
                        class="icon fa fa-address-card"></i><span>Entreprises intervenantes</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'liste_entreprises_interv' %}">Liste des EI</a>
                        </li>
                        {% if user.is_superuser %}
                        <li><a href="{% url 'ajouter_entreprise_interv' %}">Ajouter une EI</a></li>
                        {% elif user|has_role:'ei' %}
                        <li><a href="{% url 'mon_ei' %}">Mon Entreprise Intervenante</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="parent"><a href="#"><i class="icon fa fa-users"></i><span>Stagiaires</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'liste_intervenants' %}">Liste des stagiaires</a>
                        </li>
                        {% if user.is_superuser %}<li><a href="{% url 'ajouter_intervenant' %}">Ajouter un stagiaire</a>{% endif %}
                        </li>
                    </ul>
                </li>
                <li class="parent"><a href="#"><i class="icon fa fa-book"></i><span>Formateurs</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'liste_formateurs' %}">Liste des formateurs</a>
                        </li>
                        <li><a href="{% url 'ajouter_formateur' %}">Ajouter un formateur</a></li>
                    </ul>
                </li>
                <li class="parent"><a href="#"><i class="icon fa fa-calendar"></i><span>Evenements</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'liste_events' %}">Liste des événements</a>
                        </li>
                        {% if user.is_superuser %}<li><a href="{% url 'ajouter_event' %}">Ajouter un évenement</a>{% endif %}
                        </li>
                    </ul>
                    <li class="parent"><a href="#"><i class="icon fa fa-file-text"></i><span>Documents</span></a>
                    <ul class="sub-menu">
                        {% if user.is_superuser %}
                        <li><a href="{% url 'liste_documents_admin' %}">Liste des documents</a></li>
                        {% else %}
                        <li><a href="{% url 'liste_documents' %}">Liste des documents</a>
                        </li>
                        {% endif %}
                        {% if user.is_superuser %}<li><a href="{% url 'ajouter_document' %}">Ajouter un document</a>{% endif %}
                        </li>
                    </ul>
                </li>
                </li>
            </ul>
            <!--Sidebar bottom content-->
        </div>
    </div>
    <div class="am-content">
        <div class="page-head">
            <h2>{% block content_title %} {% endblock %}</h2>
        </div>
        <div class="main-content">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'assets/lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
    	//initialize the javascript
    	App.init();
    });


</script>
{% block js_supp %} {% endblock %}
</body>