{% extends 'mase/blank_site.html' %}
{% load static %}

{% block content %}
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2>MASE <span>Sénégal</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area-two">
        <div class="container">
            <h3>Cabinets d'Audit agréés</h3>
            <p>
                3 Cabinets d'Audit agréés en France ont leur filiale au Sénégal et sont automatiquement agréés par MASE Sénégal :
            </p>
                <ul>
                    <li>APAVE Sahel</li>
                    <li>Bureau VERITAS</li>
                    <li>SGS</li>
                </ul>
        </div>
</section>

{% endblock %}