{% extends 'mase/blank_site.html' %}

{% load static %}

{% block content %}
<!-- Page Title bar -->
    <section class="defult-page-title overlay-black">
      <div class="container clearfix">
          <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  <div class="page-title-box center991">
                      <div class="page-title-content">
                        <h2><span>MASE</span> C'est quoi ?</h2>
                       <!--  <p><a href="index-one.html">Home</a> / <a href="#">About</a></p> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

    <!-- About four Start -->
   <!--Timeline Style One -->
    <section class="timeline-style-one"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Historique</h2>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-lg-12">
                        <ul id='timeline1'>
                          <li class='work'>
                            <input class='radio' id='work12' name='works' type='radio' checked>
                            <div class="relative">
                              <label for='work12'>Réflexions</label>
                              <span class='date'>1996</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                                Réflexion par des industriels pour travailler ensemble sur l’amélioration la sécurité dans les entreprises et sur les sites industriels.
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work11' name='works' type='radio'>
                            <div class="relative">
                              <label for='work11'>Création d’un comité de pilotage</label>
                              <span class='date'>1996</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                                Création d’un comité de pilotage (entreprises utilisatrices) sur l’Etang de Berre avec utilisation du document d’accréditation des entreprises sous traitantes Sécurité Hygiène. Environnement existant chez Esso. 
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work10' name='works' type='radio'>
                            <div class="relative">
                              <label for='work10'>Création de l’association MASE Val de Seine</label>
                              <span class='date'>1997</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                               Création de l’association MASE Val de Seine (entreprises utilisatrices/entreprises intervenantes) qui deviendra l’association MASE Normandie. 
                              </p>
                              <p>Ecriture d’un référentiel basé sur le document ESSO et le principe de l'amélioration continue (PDCA)</p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work9' name='works' type='radio'>
                            <div class="relative">
                              <label for='work9'>Création de l’association MASE Flandres Côte d’Opale</label>
                              <span class='date'>1999</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                                Création de l’association MASE Flandres Côte d’Opale aujourd’hui association MASE Nord Pas de Calais Picardi
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work8' name='works' type='radio'>
                            <div class="relative">
                              <label for='work8'>Création de l’association MASE Rhône-Alpes</label>
                              <span class='date'>2004</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work7' name='works' type='radio'>
                            <div class="relative">
                              <label for='work7'>Création de l’association MASE Est</label>
                              <span class='date'>2005</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work6' name='works' type='radio'>
                            <div class="relative">
                              <label for='work6'>Création de l’association MASE Nationale</label>
                              <span class='date'>Avril 2005</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work5' name='works' type='radio'>
                            <div class="relative">
                              <label for='work5'>Création de l’association MASE Atlantique</label>
                              <span class='date'>2006</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work4' name='works' type='radio'>
                            <div class="relative">
                              <label for='work4'>Signature du système commun MASE-UIC</label>
                              <span class='date'>2007</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work3' name='works' type='radio'>
                            <div class="relative">
                              <label for='work3'>Application du système commun MASE-UIC</label>
                              <span class='date'>2008</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work2' name='works' type='radio'>
                            <div class="relative">
                              <label for='work2'>Création de l'association MASE Sud-Ouest</label>
                              <span class='date'>2008</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work1' name='works' type='radio'>
                            <div class="relative">
                              <label for='work1'>Création de l'association MASE Antilles Guyane </label>
                              <span class='date'>2012</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                              </p>
                            </div>
                          </li>
                          <li class='work'>
                            <input class='radio' id='work13' name='works' type='radio'>
                            <div class="relative">
                              <label for='work13'>Création de MASE Sénégal </label>
                              <span class='date'>2016</span>
                              <span class='circle'></span>
                            </div>
                            <div class='content'>
                              <p>
                                MASE Sénégal est créé le 23 Mai 2016 lors de l’assemblée générale constitutive.
                              </p>
                            </div>
                          </li>
                        </ul>
                </div>
            </div>  
        </div>  
    </section>

{% endblock %}

{% block js_supp %}
	<script type="text/javascript">
		$(function () {
			$('#li_about').addClass('active');
		});
	</script>
{% endblock %}