{% extends 'mase/blank_dashboard.html' %}

{% load static %}

{% block content_title %}{% endblock %}

{% block content %}
<div class="am-content">
	<div class="main-content"> 
		<div class="user-profile">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
				<img src="{% static 'assets/img/profile.jpg' %}" width="345" height="345">
				</div>
				<div class="col-md-6 col-sm-12 col-md-offset-1">
					<div class="info-block panel panel-default">
						<div class="panel-heading">
							<h4>{{ object.entite.raison_sociale }}</h4>
						</div>
						<!--  <div class="panel-body"><span class="description">I am a web developer and designer based in Montreal - Canada, I like read books, good music and nature.</span> -->
						<table class="no-border no-strip skills" style="margin-left: 10px;">
							<tbody class="no-border-x no-border-y">
								<tr>
									<td class="item">Email:<span class="icon s7-mail"></span></td>
									<td>{{ object.email }}</td>
								</tr>
								<tr>
									<td class="item">Tel:<span class="icon s7-phone"></span></td>
									<td>{{ object.telephone }}</td>
								</tr>
								<tr>
									<td class="item">Adresse:<span class="icon s7-map-marker"></span></td>
									<td>{{ object.entite.adresse }}</td>
								</tr>
								<tr>
									<td class="item">Structure:<span class="icon s7-global"></span></td>
									<td>{{ object.entite.raison_sociale }}</td>
								</tr>
								<tr>
									<td class="item">Type de structure:<span class="icon s7-global"></span></td>
									<td>{{ object.entite.type }}</td>
								</tr>
							</tbody>
						</table>
						<br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}